{% load mptt_tags %}
<div id="v-menu">
<div id="main-nav">
        <ul>
        {% for top_category in categories %}
            
            <li id="cat_{{ top_category.id }}" class="main-category">
                    <a class="a_category" href="{% url lfs_category top_category.slug %}">{{ top_category.name }}</a>
                    <span><img src="/media/{{ top_category.icon }}" alt="icon" /></span>
            </li>
        {% endfor %}
        </ul>
    </div>
</div> 