{% extends "lfs/base.html" %}
{% load pagination_tags %}
{% load lfs_portlets_tags %}
{% load lfs_tags %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% load l10n %}
{% load seo_data %}
{% load bootstrap_toolkit %}
{% block title %}
    {% if meta_title %}
        {{ meta_title }}
    {% else %}
        {% get_title %}
    {% endif %}

{% endblock %}


{% block breadcrumbs %}
    <ul class="breadcrumb" >
        <li>
            <a href="/" ><i class="icon-home"></i></a> /
        </li>
        <li>
            <span>{{ global_reviews_page_name }}</span>
        </li>
    </ul>
{% endblock %}

{% block middle-slot %}{% endblock %}

{% block content %}
<div class="span12 pull-right">
<link rel="stylesheet" type="text/css" href="{% static 'css/global_reviews.css' %}">
    
    <p>
        <a class="add_global_review btn">
            {% trans 'Додати свій відгук' %}
        </a> 
    </p>
    {% if form.errors %}
        <div class="alert alert-error">
            {% trans "The operation could not be performed because one or more errors occurred. Please see below." %}
        </div>
    {% endif %}
    <form action="" method="post" class="form-vertical global_review_form">
        {% csrf_token %}
                    {{ form.name|as_bootstrap:"horizontal" }}
                    {{ form.email|as_bootstrap:"horizontal" }}
            
        <div class="control-group controls-row{% if form.score.errors %} error{% endif %}">
            <label class="control-label">{{ form.score.label }}&nbsp;*</label>
            <div class="star-rating-wrapper pull-left">
                <ul class="star-rating">
                    {% for score in scores %}
                        <li>
                            <a href="#"
                               class="rate {% if score.current %}current-rating{% endif %}"
                               title="{{ score.title }}"
                               data="{{ score.value }}"
                               style="z-index:{{ score.z_index }}; width:{{ score.width }}px">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if form.score.errors %}
                {% for er in form.score.errors %}
                    <span class="help-inline error">{{er}}</span>
                {% endfor %}
            {% endif %}
        </div>
            {{ form.text|as_bootstrap:"horizontal" }}
        <input type="hidden"
               name="score"
               id="id_score"
               value="{{ request.POST.score }}" />

        <div class="form-actions">
            <input type="submit" class="btn btn-primary"
                   value="{% trans 'Send' %}" />
        </div>

    </form>

    {% autopaginate global_reviews paginate_limit %}
    <div class="global_reviews_block">
        {% for review in global_reviews %}
            <div class="global_review">
                <div class="global_review_rate">
                    
                        <ul class="star-rating small-star inline-rating">
                            <li class="current-rating"
                                style="width:{{review.score|multiply:10|floatformat}}px">
                                Currently 3/5 Stars
                            </li>
                        </ul>
                </div>
                <div class="global_review_name_date">
                    {{ review.name }}
                </div>
                <div class="global_review_text">
                    {{review.text}}
                </div>
            </div>
        {% endfor %}
    </div>
    {% paginate %}
</div>
<script type="text/javascript">
    {% if message %}
        $.jGrowl('{{message}}');
    {% endif %}
    {% if form.errors %}
        $(document).ready(function(){
            $("form.global_review_form").css('display', 'block');
            $("a.add_global_review").css('display', 'none');
        })
    {% endif %}
    $("a.add_global_review").click(function(){
        $("form.global_review_form").css('display', 'block');
        $(this).css('display', 'none');
    });
</script>
{% endblock %}