{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block section %}my-account{% endblock %}


{% block content %}
klsdjlgk jlkfjg lksjflk jlksdj lkgsd
<div class="row-fluid"><div class="span12">
<div class="page-header">
    {% block breadcrumbs %}
    {% breadcrumbs _("Your Account") %}
    {% endblock %}
<h1>{% trans "Welcome!" %}</h1>
</div>

<div class="alert alert-info">
{% trans "Welcome to your account. Here you can find your orders, you can change your addresses, email address and your password.dfsdfsd" %}
</div>
</div></div>
{% endblock %}
