{% load i18n %}

{% if groups %}
    <table class="table table-striped table-bordered center-table">
    {% for group, properties in groups.items %}
    <tr>
        <th colspan="2">
                {{ group }}
        </th>
    </tr>
        {% for p in properties %}
        <tr>
            <td>{{ p.0 }}</td>
            <td>{{ p.1 }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
{% else %}
    <div class="alert alert-info">{% trans 'У данного товара нет свойств' %}</div>
{% endif %}
